*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e9f3ef;
}

header{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #00a38f; 
}

.logo{
  color: #e9f3ef;
  font-family: 'Sarala', sans-serif;;
  font-size: 2rem;
  padding-left: 2rem;

}

main{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

p{
    color: #00a38f;
    font-size: 5rem;
}