*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #e9f3ef;
  display: flex;
  flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #00a38f; 
}

.logo{
  color: #e9f3ef;
  font-family: 'Sarala', sans-serif;;
  font-size: 2rem;
  padding-left: 2rem;

}

.sessao-primary{
    
    background-color: #70c5bb;
    width: 20%;
    height: 100%;
}

